<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <% if(user.isAuthor){ %>
        <title>Author Dashborad</title>
   <% }else{ %>
       <title>User Dashborad</title>
   <% } %>
   
    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.css">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png" />
    <style type="text/css">
    .page-body-wrapper{
    padding-top: 0;
    }
    .border-bl{
    border: 1px solid #e0e3e4 !important;
    }
    </style>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/update-notice.js"></script>


<% if (user) { %>

<script src="/socket.io/socket.io.js"></script>

  <script>
   window.localStorage.setItem('user_id','<%= user._id %>')

window.sessionStorage.setItem("status","online");


var socket = io("http://localhost:3000");
  function sdfsfafdsfefaerds() {
   socket.emit('id', "<%= user._id %>");
  }
sdfsfafdsfefaerds();
setInterval(sdfsfafdsfefaerds,1000);

  


  </script>

 <% } %>




<% if(notices && messages){ %>

<script type="text/javascript">

var sdfsdfsda = JSON.parse('<%- JSON.stringify(notices) %>');
var sdf44awr4 = JSON.parse('<%- JSON.stringify(messages) %>');

 updateNotice(sdfsdfsda);
 updateMessage(sdf44awr4)

</script>

<% } %>

  </head>
  <body>

<div class="alert alert-success" id="logOutNotification" style="display: none;" role="alert">
  Logging you out in <span id="logOutCounter"></span>
</div>


    <div class="container-scroller">
      <nav class="navbar col-lg-12 col-12 p-0 d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
          <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand brand-logo" href="/"><i class="fa fa-graduation-cap"></i> NGHS</a>
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
            </button>
          </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown mr-1">
              <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-message-text mx-0"></i>
                <span class="count" style="display: none;" id="newMessageCount" ></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right message-container navbar-dropdown" aria-labelledby="messageDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>

<div class="messages">
  
  <% if (messages) { %>
  
  <% messages.forEach( function(msg) { %>

  
  
  <a class="dropdown-item" href="/user/messages/<%= msg._id  %>">
    <div class="item-thumbnail">
      <img src="https://image.flaticon.com/icons/png/512/1077/1077114.png" alt="image" class="profile-pic">
    </div>
    <div class="item-content flex-grow">
      <h6 class="ellipsis font-weight-normal"><%= msg.from.author.name %></h6>
      <p class="font-weight-light small-text text-muted mb-0">
        <%= msg.message.substring(0,25); %>...
      </p>
    </div>
  </a>
  

  
  <% }) %>
  <% } %>
</div>



                
              </div>
            </li>
            <li class="nav-item dropdown mr-4">
              <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-bell mx-0"></i>
                <span class="count" id="newNoticeCount"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown notification-container" aria-labelledby="notificationDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                <div class="notifications">
                  
                  <% if (notices) { %>
                  
                  <% notices.forEach( function(notice) { %>
                  <% if (  notice.class === user.class && notice.section === user.section  || notice.notice_type === "normal") { %>
                  <a href="/user/notice/<%= notice._id %>  " class="dropdown-item">
                    <div class="item-thumbnail">
                      <div class="item-icon bg-warning">
                        <i class="mdi mdi-settings mx-0"></i>
                      </div>
                    </div>
                    <div class="item-content">
                      <h6 class="font-weight-normal"><%= notice.notice.substring(0,25); %>...</h6>
                    </div>
                  </a>
                  <% } %>
                  
                  
                  <% }); %>
                  <% } %>
                </div>
              </div>
            </li>
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                <img src="https://image.flaticon.com/icons/png/512/1077/1077114.png" alt="profile"/>
                <span class="nav-profile-name"><%- user.username %></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="/user/profile">
                  <i class="mdi mdi-settings text-primary"></i>
                  Profile
                </a>
                <a class="dropdown-item"  id="logoutBtn">
                  <i class="mdi mdi-logout text-primary"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
          
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  if(window.localStorage.getItem('notice')){
   $("#newNoticeCount").show();
}else{
     $("#newNoticeCount").hide()
}
  $("#notificationDropdown").click(function() {
   
   window.localStorage.removeItem('notice');
   $("#newNoticeCount").hide()

     


})




 if(window.localStorage.getItem('messages')){
   $("#newMessageCount").show();
}else{
     $("#newMessageCount").hide()
}
 
  $("#messageDropdown").click(function() {
   
   window.localStorage.removeItem('messages');
   $("#newMessageCount").hide()
})




$("#logoutBtn").click(function(e) {

  $("#logOutNotification").show(400)
  e.preventDefault();
  console.log("clicked");

var count = 3;
var counter = setInterval(function() {


  if(count == 0){
    window.clearInterval(counter)
  }
  $("#logOutCounter").text(count);
  console.log(count)
  count--;
},1000)

     let redirect_Page = () => {

  socket.emit('close', "<%= user._id %>");
  socket.disconnect();
  

      let tID = setTimeout(function () {
            window.location.href = window.location.protocol + "//" + window.location.host + "/logout";
            window.clearTimeout(tID);   // clear time out.
        }, 3000);
    }
 redirect_Page();

});


</script>



