<%- include("../partials/header-admin") -%>
      <!-- partial -->
      <div class="main-panel">




        <div class="content-wrapper">
         
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Users</p>
              <% if(notification && notification.length !== 0){ %>
                <div class="alert alert-primary" role="alert" >
                  <%= notification  %>
                </div>
              <% } %>
              <% if(success && success.length !== 0){ %>
                <div class="alert alert-success" role="alert" >
                  <%= success  %>
                </div>
              <% } %>  
               <% if(error && error.length !== 0){ %>
                <div class="alert alert-danger" role="alert" >
              <%= error  %>
                </div>
              <% } %>  


                  <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Author</th>
                            <th>ID</th>
                            <th>Class</th>
                            <th>Section</th>
                            <th>Roll</th>
                            <th>Edit Profile</th> 
                            <th>Delete User</th>
                        </tr>
                      </thead>
                      <tbody>

                       <%  users.forEach(function(user){%>
                        <tr>
                            <td><%- user.name %></td>
                            <td><% if(user.isAuthor || user.isAdmin){ %>
                              <span>Yes</span>
                              <%}else{ %>
                              <span>No</span>
                              <% } %>
                            </td>
                            <td><%- user._id %></td>
                            <td><%- user.class %></td>
                            <td><%- user.section %></td>
                            <td><%- user.roll %></td>
                            <td><a href="/user/edit/<%- user._id %>" class="btn btn-primary">Edit</a></td>
                            <td><a href="/delete_user/<%= user._id %>" class="btn btn-danger">Delete</a></td>
                            
                          </tr>
                       <% }); %>

                          
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->

<script>
$(".searchResult").hide();
 var sw = $('#searchFildeHolder').width() + 10;
 console.log(sw)
$(".searchResult").width(sw);
$("#searchTerm").on("change",function(){
   console.log(this.value);


var url = "http://localhost:3000/admin/searchuser/" + this.value;
    const xhr = new XMLHttpRequest();
    xhr.open('GET',url, true);
    xhr.getResponseHeader('Content-type', 'application/json');

    xhr.onload = function () {
        if(this.status === 200){
         console.log(this.responseText);
       res = JSON.parse(this.responseText);
       $(".searchResult").show(400);

       res.forEach( function(user) {

       $( "<li></li>",{"class": "list-group-item",text: user.name}).appendTo(".searchResult .list-group");
         // $(".searchResult").
       });

            
        
              
        }
        else{
            console.log("Some error occured");
        }
    }
    xhr.send();
if(this.value === ''){
   $(".searchResult").hide(400);
   console.log("empty")
}

 })


// $("#searchTerm").bind("input propertychange",function(event){
//        console.log($("#searchTerm").val())
// });

</script>

        
<%- include("../partials/footer-admin") -%>