<%- include("../partials/header-admin") -%>
      <!-- partial -->
      <div class="main-panel">




        <div class="content-wrapper">
         
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Users</p>
              <% if(notification && notification.length !== 0){ %>
                <div class="alert alert-primary" role="alert" >
                  <%= notification  %>
                </div>
              <% } %>
              <% if(success && success.length !== 0){ %>
                <div class="alert alert-success" role="alert" >
                  <%= success  %>
                </div>
              <% } %>  
               <% if(error && error.length !== 0){ %>
                <div class="alert alert-danger" role="alert" >
              <%= error  %>
                </div>
              <% } %>  


                  <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Author</th>
                            <th>ID</th>
                            <th>Class</th>
                            <th>Section</th>
                            <th>Roll</th>
                            <th>Edit Profile</th> 
                            <th>Delete User</th>
                        </tr>
                      </thead>
                      <tbody>

                       <%  users.forEach(function(user){%>
                        <tr>
                            <td><%- user.name %></td>
                            <td><% if(user.isAuthor || user.isAdmin){ %>
                              <span>Yes</span>
                              <%}else{ %>
                              <span>No</span>
                              <% } %>
                            </td>
                            <td><%- user._id %></td>
                            <td><%- user.class %></td>
                            <td><%- user.section %></td>
                            <td><%- user.roll %></td>
                            <td><a href="/user/edit/<%- user._id %>" class="btn btn-primary" style="padding-top: 5px;padding-bottom: 5px;">Edit</a></td>
                            <td><a href="/delete_user/<%= user._id %>" class="btn btn-danger" style="padding-top: 5px;padding-bottom: 5px;">Delete</a></td>
                            
                          </tr>
                       <% }); %>

                          
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
   <script src="../js/jquery.min.js"></script>
<script>
  $(".searchResult").hide();
  function changeWidthOfsearchResultViwer(){
  var sw = $('#searchFildeHolder').width();
  $(".searchResult").width(sw);
  }
  
   changeWidthOfsearchResultViwer();
   window.onresize = function(){
   changeWidthOfsearchResultViwer();
   }
$("#searchTerm").on("change",function(){
 
var url = "/admin/searchuser/" + this.value;
    const xhr = new XMLHttpRequest();
    xhr.open('GET',url, true);
    xhr.getResponseHeader('Content-type', 'application/json');
    xhr.onload = function () {
        if(this.status === 200){
           // console.log(this.responseText);
         res = JSON.parse(this.responseText);
         $(".searchResult").fadeIn(500);
           if(JSON.parse(this.responseText).length === 0){
             $( "<li></li>",{"class": "list-group-item",text: "No user found with the name"}).appendTo(".searchResult .list-group");
           }
            res.forEach( function(user) {
         
                if($(".searchResult ul li").text().includes(user.name)){
              
                }else {
                // console.log("one time")   
                var u = user;

var li = `<li class="list-group-item">${u.name} <div class=" float-right"> <a class="btn btn-primary btn-sm" href="/user/edit/${u._id}">Edit</a> <a class="btn btn-danger btn-sm" href="/delete_user/${u._id}">Delete</a></div></li>`;                                                                                           
  $(".searchResult .list-group").append(li);
  // console.log(li);
         

                }
                
 
            });
        }else{
            console.log("Some error occured");
        }
    }
        if($(".searchResult ul li").text().includes(this.value)){
          // console.log("founded")
          $(".searchResult").fadeIn(500);
        }else {
          $(".searchResult ul").empty();
          // console.log("list cleared");
              xhr.send();
        }
    if(this.value === ''){
       $(".searchResult").hide(400);
       // console.log("empty")
    }
 })
$("#searchTerm").bind("input propertychange",function(event){
    
  if($("#searchTerm").val() === ""){
    // console.log("search bar is emty");
   
   $(".searchResult").hide(400);   
  if($("#searchTerm").trigger(jQuery.Event('keypress',{ keyCode: 13 }))){
    // console.log("typed")
if(this.value === ''){
   $(".searchResult").hide(400);
   // console.log("empty")
}
  }
     
      
  }else if ($(".searchResult ul li").text().includes(this.value)) {
     $(".searchResult").fadeIn(500);
     // console.log("founded")
  }else {
     $(".searchResult").fadeOut(500);
     // console.log("not founded")
  }
});
</script>

        
<%- include("../partials/footer-admin") -%>