<%- include("../partials/header-admin") -%>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
         
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Users</p>
                  <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Author</th>
                            <th>ID</th>
                            <th>Class</th>
                            <th>Section</th>
                            <th>Roll</th>
                            <th>Edit Profile</th>
                            <th>Delete User</th>
                        </tr>
                      </thead>
                      <tbody>

                       <%  users.forEach(function(user){%>
                        <tr>
                            <td><%- user.name %></td>
                            <td><% if(user.isAuthor || user.isAdmin){ %>
                              <span>Yes</span>
                              <%}else{ %>
                              <span>No</span>
                              <% } %>
                            </td>
                            <td><%- user._id %></td>
                            <td><%- user.class %></td>
                            <td><%- user.section %></td>
                            <td><%- user.roll %></td>
                            <td><a href="/user/edit/<%- user._id %>" class="btn btn-primary">Edit</a></td>
                            <td><a href="/delete_user/<%= user._id %>" class="btn btn-danger">Delete</a></td>
                            
                          </tr>
                       <% }); %>

                          
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        
<%- include("../partials/footer-admin") -%>