<%- include("../partials/header-user") -%>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/author/dashboard">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/author/exam/new">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Create new Test</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Exams That You Created</p>
              
            <% if(success && success.length !== 0){ %>
                <div class="alert alert-success" role="alert" >
                  <%= success  %>
                </div>
              <% } %>  
               <% if(error && error.length !== 0){ %>
                <div class="alert alert-danger" role="alert" >
                  <%= error  %>
                </div>
              <% } %>
              
              <div class="table-responsive">
                <table id="recent-purchases-listing" class="table">
                  <thead>
                    <tr>
                      <th>You can delete tests from the below list</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% tests.forEach(function(test){ %>
                    <tr>
                      <td><%= test.question_title %></td>
                      <td><a href="/edit/test/<%- test._id %>" class="btn btn-primary btn-sm">Edit</a></td>
                      <td><a href="/delete_user/<%= user._id %>" class="btn btn-danger btn-sm">Delete</a></td>
                    </tr>
                    <%  }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- content-wrapper ends -->
    <%- include("../partials/footer-user") -%>