<%- include("../partials/header-user") -%>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/user/dashboard">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/liveclasses">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Live Classes</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      
      <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Exams For You</p>
              <div class="container mt-3">
                <% if(notification && notification.length !== 0){ %>
                <div class="alert alert-primary" role="alert" >
                  <%= notification  %>
                </div>
                <% } %>
                <% if(error && error.length !== 0){ %>
                <div class="alert alert-danger" role="alert" >
                  <%= error  %>
                </div>
                <% } %>
                <% if(success && success.length !== 0){ %>
                <div class="alert alert-success" role="alert" >
                  <%= success  %>
                </div>
                <% } %>
              </div>
              <div class="table-responsive">
                 <table id="recent-purchases-listing" class="table">
                  <thead>
                    <tr>
                      <th>You can take part to this tests</th>
                      <th>Time left</th>
                    </tr>
                  </thead>
                  <tbody>
     
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
<script>
   


</script>

  <script src="../js/moment.js"></script>
   <script>
    var  classes = JSON.parse('<%- JSON.stringify(classes) %>');
      classes.forEach( function(clas) {

   var elemid = Math.random().toString(36).substring(2, 5) + Math.random().toString(36).substring(2, 5);

    
var tempdate = moment(clas.class_date).format('MMM D, YYYY') + " " + moment(`${clas.class_date}T${clas.class_time}`).format("H:mm:ss");

mksdfasfsd(tempdate,elemid)

  $(".table").append(`<tr><td>${moment(clas.class_date).format('dddd Do MMMM')} At  ${moment(`${clas.class_date}T${clas.class_time}`).format("hh:mm a")}</td><td id="${elemid}"  class="card-title"></td></tr>`)

      });
  


function mksdfasfsd(s,id){

var deadline = new Date(s).getTime();


var x = setInterval(function() {
var now = new Date().getTime();
var t = deadline - now;

var days = Math.floor(t / (1000 * 60 * 60 * 24));
var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((t % (1000 * 60)) / 1000);

document.getElementById(id).innerHTML = days + "d " 
+ hours + "h " + minutes + "m " + seconds + "s ";

    if (t < 0) {
        clearInterval(x);
        document.getElementById(id).innerHTML = "EXPIRED";
    }
},1000);

}

</script>

    <%- include("../partials/footer-user") -%>