<%- include("../partials/header-user") -%>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/author/dashboard">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/author/exam/new">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Create new Test</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/author/hostLiveClass">
          <i class="mdi mdi-calendar-blank menu-icon"></i>
          <span class="menu-title">Host a live class</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/author/send-message">
          <i class="mdi mdi-message menu-icon"></i>
          <span class="menu-title">Sent Message</span>
        </a>
      </li>
    </ul> 
  </nav> 
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Fill the form correctly in order to send message to your desire student</p>
              
            <% if(notification && notification.length !== 0){ %>
                <div class="alert alert-primary" role="alert" >
                  <%= notification  %>
                </div>
              <% } %>
              <% if(success && success.length !== 0){ %>
                <div class="alert alert-success" role="alert" >
                  <%= success  %>
                </div>
              <% } %>  
               <% if(error && error.length !== 0){ %>
                <div class="alert alert-danger" role="alert" >
                  <%= error  %>
                </div>
              <% } %>
               
              <div class="table-responsive">
<div class="container width-50">
       <form action="#" id="userInformation">
                      <div class="form-group">
                          <label for="subject" >Class</label>
                          <div class="input-group mb-3">
                            <select class="custom-select class" name="class" id="dsfafds234214">
                              <option selected>Choose...</option>
                              <option value="6">Six</option>
                              <option value="7">Seven</option>
                              <option value="8">Eight</option>
                              <option value="9">Nine</option>
                              <option value="10">Ten</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="subject">Section</label>
                          <div class="input-group mb-3">
                            <select class="custom-select section" name="section">
                              <option selected>Choose...</option>
                              <option value="A">A</option>
                              <option value="B">B</option>
                              <option value="C">C</option>
                              <option value="D">D</option>
                              <option value="ALL">ALL</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="searchTerm">Roll</label>
                        <input type="number"   class="form-control roll"  style="border: 1px solid #ced4da;" data-toggle="tooltip" data-placement="top" title="Hit enter after typing the roll number">
                      </div>
                      <div class="form-group">
                        <label for="name" data-toggle="tooltip" data-placement="top" title="See the name to insure the correct student" >Student Name</label>
                        <input type="text" id="name" class="form-control" readonly style="border: 1px solid #ced4da;">
                      </div>
      </form>
    
      <form action="#">
        <div class="form-group">
          <label for="message" >Student Name</label>
          <textarea id="message" class="form-control"  style="border: 1px solid #ced4da;"  rows="10" placeholder="Type your message here"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form> 
</div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- content-wrapper ends -->
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  $("form").submit(function(e){
    e.preventDefault();
  })
});

</script>
    

<script>
$(".searchResult").hide();
 
$("#userInformation").on("change",function(){

if($(".roll").val() !== "" ){

var url = "/author/searchuser/" +  $(".class").val() + "/" + $(".section").val() + "/" + $(".roll").val() ;

    const xhr = new XMLHttpRequest();
    xhr.open('GET',url, true);
    xhr.getResponseHeader('Content-type', 'application/json');
    xhr.onload = function () {
        if(this.status === 200){
           console.log(this.responseText);
         res = JSON.parse(this.responseText);
     

           if(res.length === 0){
            $("#name").val("No user found");
           }
            res.forEach( function(user) {
          $("#name").val(user.name);
            });

        }else{
             $("#name").val("Some thing went wrong");
        }
    }
  
 xhr.send();


}
 

 });



</script>






    <%- include("../partials/footer-user") -%> 