<%- include("../partials/header-user") -%>

<!-- partial -->
<div class="container-fluid page-body-wrapper">
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="/user/dashboard">
					<i class="mdi mdi-home menu-icon"></i>
					<span class="menu-title">Dashboard</span>
				</a>
			</li>
		</ul>
	</nav>

	<!-- partial -->
	<div class="main-panel">
		<div class="content-wrapper">
			<div class="row">
				<div class="col-md-12 stretch-card">
					<div class="card">
						<div class="card-body" style="text-align: center;">
							<p class="card-title"  id="card-title" style="text-align: center;"><%= notice.notice %></p>
							<p class="card-title mt-3" id="card-body" style="color: #27367f;font-size: 50px;text-shadow: 1px 9px 10px #27367f;text-align: center;"> </p>
							
						

							<% if(notification && notification.length !== 0){ %>
							<div class="alert alert-primary mes" role="alert" >
								<%= notification  %>
							</div>
							<% } %>
							<% if(success && success.length !== 0){ %>
							<div class="alert alert-success mes" role="alert" >
								<%= success  %>
							</div>
							<% } %>
							<% if(error && error.length !== 0){ %>
							<div class="alert alert-danger mes" role="alert" >
								<%= error  %>
							</div>
							<% } %>


							<a  <% if (user.isAuthor) { %>
							href="/author/dashboard"
							<% }else{ %>
							href="/user/dashboard"
							<% } %>

							 class="btn btn-primary mt-3" id="join_now_button"><i class="fa fa-arrow-left"></i> Back to dashboard</a>
						
					</div>
				</div>
			</div> 
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<%- include("../partials/footer-user") -%>