<%- include("../partials/header-user") -%>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/author/dashboard">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/author/exam/new">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Create new Test</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Students answered your question</p>
              
              
              <div class="table-responsive">
                <table id="recent-purchases-listing" class="table">
                  <thead>
                    <tr>
                      <th>Click on a student name to view his/her answer</th>
                    </tr> 
                  </thead>
                  <tbody>
                    <% answers.forEach(function(answer){ %>
                    <tr>
                      <td><%- answer.user.name %></td>
                      <td><input type="text" value="/test/status/answer/<%- answer._id %>" style="display: none;" id="getLinkHolder">
                       <button id="seeAnswer" class="btn btn-primary btn-sm" onclick="showResult(this)">View Answer</button></td>
                       <td>
                        <input type="text" value="<%- answer._id %>" style="display: none;">
                        <button class="btn btn-primary btn-sm" id="gt"   onclick="giveNumber(this)">Give Number</button>
                      </td>
                    </tr>
                    <%  }) %>
                  </tbody>
                </table>
              </div>
            </div> 
          </div>
        </div>
      </div>
 


<div class="jumbotron showResult m-auto text-center">
  
  <p></p>
  <a class="btn btn-danger btn-sm" href="#" onclick="hideViewer()" role="button">close</a>
</div>


<div class="jumbotron give_number m-auto text-center">
  <form>
  <div class="form-group">
    <label for="result_number">Give Number</label>
    <input type="number" max="100" id="result_number" class="form-control border w-75 m-auto">
  </div>
  <button class="btn btn-primary btn-xm">Submit</button>
  </form>
  <a class="btn btn-danger btn-sm mt-3" href="#" onclick="hideViewer()" role="button">close</a>
</div>

        </div>
    <!-- content-wrapper ends -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(".showResult").hide();
  $(".give_number").hide();
  var answer_id = "";

function showResult(e){

var get = e.parentElement.firstChild.value;
  
    const xhr = new XMLHttpRequest();
    xhr.open('GET',get, true);
    xhr.getResponseHeader('Content-type', 'application/json');

    xhr.onload = function () {
        if(this.status === 200){
          var answer = JSON.parse(this.responseText)

            
        
            showAnswer(answer.answer.answer)
              $(".showResult").show(500);
        }
        else{
            console.log("Some error occured");
        }
    }
    xhr.send();

};


function giveNumber(e){
 answer_id =  e.previousElementSibling.value;
  $(".give_number").show(500);

}
 


function showAnswer(answer){
$(".showResult p").text(answer);
}

function hideViewer(){
   $(".showResult").hide(500);
   $(".give_number").hide(500);
}


$("form").submit(function(e){
  e.preventDefault();
var result = $("#result_number").val();

var aaui = "/test/result/answer/" + answer_id + "/" + result;
console.log(aaui)



    const xhr = new XMLHttpRequest();
    xhr.open('GET',aaui, true);
    xhr.getResponseHeader('Content-type', 'application/json');

    xhr.onload = function () {
        if(this.status === 200){
         console.log(this.responseText);

            
        
              // $(".showResult").show(500);
        }
        else{
            console.log("Some error occured");
        }
    }
    xhr.send();









 
   $(".give_number").hide(500);
   $("#result_number").val(0);
})

</script>

 
    <%- include("../partials/footer-user") -%>