<%- include("../partials/header-user") -%>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/user/dashboard">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
         
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Exams For You</p>
                  <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                      <thead>
                        <tr>
                            <th>You can take part to this tests</th>
                        </tr>
                      </thead>
                      <tbody>
                    <% tests.forEach(function(test){ %>
                    <tr>
                      <td><%= test.question_title %></td>
                      <td><a href="/test/submit/<%= test._id %>" class="btn btn-primary btn-sm">Take Test</a>
                      <a href="/delete_user/<%= user._id %>" class="btn btn-danger btn-sm">See Result</a></td>
                    </tr>
                    <%  }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
<%- include("../partials/footer-user") -%>